<form class="form-group search" method="get" action="/index.php">
	<fieldset>
		<label for="search" class="sr-only">Search</label>
    <input type="text" class="form-control search-text" id="search" placeholder="Search" name="s">
	</fieldset>
</form>