.social-media-icon-link {
	display: inline-block;
	text-decoration: none;

	@include hover-focus {
		text-decoration: none;

		.social-media-icon-background {
			fill: map-get($theme-colors, "blue");
		}
	}

	&:active {
		text-decoration: none;

		.social-media-icon-background {
			fill: map-get($theme-colors, "red");
		}
	}
}
