.card {
	border: none;
	border-radius: 0;
	display: flex;
}

.card-image {
	border: 1px solid map-get($grays, "100");
	min-width: 150px;
	width: 100%;
}

.card-title {
	font-size: $h5-font-size;
}

.card-link:hover {
	text-decoration: underline;
}

.card-horizontal {
	flex-direction: row;
}

.card-vertical {
	flex-direction: column;
}
