<div class="card {{ card_variant ? card_variant ~ '-card' }} {{ card_orientation ? 'card-' ~ card_orientation }} {{ hero ? 'card-hero' }}">
  {% if card.video %}
    <iframe src="{{ card.video.src }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% elseif card.image %}
    {% if card.image.link %}<a href="{{ card.link }}" class="card-img-link">{% endif %}
      <img class="card-image"
        srcset="{{ card.image.srcset }}"
        sizes="{{ card.image.sizes }}"
        src="{{ card.image.src }}" alt="{{ card.image.alt }}">
    {% if card.image.link %}</a>{% endif %}
  {% endif %}
  <div class="card-body">
    {% if card.link %}<a href="{{ card.link }}" class="card-link">{% endif %}
      <h{{ card_heading_level }} class="card-title">{{ card.title }}</h{{ card_heading_level }}>
    {% if card.link %}</a>{% endif %}
    {% if card.body %}
      <p class="card-text">{{ card.body }}</p>
    {% endif %}
    {% if card.date %}
      <p class="card-date">{{ card.date|date("F d, Y") }}</p>
    {% endif %}
    {% if card.taxonomy %}
      <p>{% if card.taxonomy_label %}{{ card.taxonomy_label }}: {% endif %}{% for term in card.taxonomy %}<a href="{{term.link}}" class="card-taxonomy-term">{{term.name}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
  </div>
</div>