.post-card {
	font-size: $font-size-base;
	font-weight: 400;

	.card-body {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.card-hero {
		border-bottom-style: none;
		padding-bottom: 0;

		.card-body {
			padding: 1.25rem 0;
		}
	}
}
