<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
{% include '@organisms/_html-head.twig' %}
</head>

<body class="{{ body_class }}
              {{ post.title ?? page_title ? 'has-page-title' }} 
              {{ breadcrumbs ? 'has-breadcrumbs' }} 
              {{ nav_secondary ? 'has-sidebar-left' }}
              {{ sidebar_right ? 'has-sidebar-right' }}" data-template="base.twig">

<div class="skip-link-container">
  <a id="skip-link" class="skip-link sr-only sr-only-focusable" href="#content">Skip to main content</a>
</div>
<div class="body-wrapper">

  <div id="header-container" class="header-container">
    {% include '@organisms/header.twig' %}
  </div>

  <div class="content-sidebar-wrapper">
    {% if breadcrumbs %}
      <div id="breadcrumbs-container" class="breadcrumbs-container">
          {% include '@molecules/navigation/breadcrumbs.twig' %}
      </div>
    {% endif %}

    {% if post.title ?? page_title %}
      <h1 class="page-title">{{ post.title ?? page_title }}</h1>
    {% endif %}

    <section id="content" role="main" class="content-wrapper">
      <div class="main-content {{sidebar_class}}">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    {% if sidebar_right %}
      <aside class="sidebar-right">
        {% block sidebar_right %}
        {% endblock %}
      </aside>
    {% endif %}

    {% if nav_secondary %}
      <aside class="nav-secondary">
        {% include '@molecules/navigation/secondary-navigation.twig' %}
      </aside>
    {% endif %}
  </div>

  <div class="footer-container">
    {% include '@organisms/footer.twig' %}
  </div>
</div>
</body>
</html>