body {
	background: map-get($theme-colors, "gray");
}

.skip-link-container {
	background: $white;
}

.body-wrapper {
	background: $white;
}

.header-container {
	background: map-get($theme-colors, "red");
}

.content-sidebar-wrapper {
	margin: 0 auto $spacer-double;
	max-width: map-get($container-max-widths, "xl");
	padding: $spacer-quadruple $spacer-double $spacer-double;


	@media (min-width: map-get($grid-breakpoints, "md")) {
		display: grid;
		gap: $spacer-double;
		grid-template-areas: "content";
		padding: $spacer-double;

		/* stylelint-disable */
		.has-page-title & {
			grid-template-areas:
				"title"
				"content";
		}

		.has-breadcrumbs & {
			grid-template-areas:
				"breadcrumbs"
				"content";
		}

		.has-page-title.has-breadcrumbs & {
			grid-template-areas:
				"breadcrumbs"
				"title"
				"content";
		}

		.has-sidebar-left & {
			grid-template-areas: "sidebar content";
			grid-template-columns: 2fr 6fr;
		}

		.has-sidebar-left.has-page-title & {
			grid-template-areas:
				".			 title"
				"sidebar content";
		}

		.has-sidebar-left.has-breadcrumbs & {
			grid-template-areas:
				".			 breadcrumbs"
				"sidebar content";
		}

		.has-sidebar-left.has-page-title.has-breadcrumbs & {
			grid-template-areas:
				".			 breadcrumbs"
				".			 title"
				"sidebar content";
		}

		.has-sidebar-right & {
			grid-template-areas: "content sidebar-right";
			grid-template-columns: 2fr 1fr;
		}

		.has-sidebar-right.has-page-title & {
			grid-template-areas:
				"title	 ."
				"content sidebar-right";
		}

		.has-sidebar-right.has-breadcrumbs & {
			grid-template-areas:
				"breadcrumbs ."
				"content		 sidebar-right";
		}

		.has-sidebar-right.has-page-title.has-breadcrumbs & {
			grid-template-areas:
				".			 breadcrumbs"
				"title	 ."
				"content sidebar-right";
		}
		/* stylelint-enable */

		.post-content {
			font-size: $h5-font-size;
			font-weight: 300;
		}
	}

	@media (min-width: map-get($grid-breakpoints, "lg")) {

		.post-content {
			font-size: $h3-font-size;
		}
	}

	.page-title {
		grid-area: title;
	}
}

.breadcrumbs-container {
	grid-area: breadcrumbs;
	padding: $spacer 0;

	@supports (display: grid) {

		@media (min-width: map-get($grid-breakpoints, "md")) {
			padding: 0;
		}
	}
}

.content-wrapper {
	grid-area: content;
	margin-bottom: $spacer-quadruple;
}

.nav-secondary {
	grid-area: sidebar;
}

.sidebar-right {

	@media (min-width: map-get($grid-breakpoints, "md")) {
		grid-area: sidebar-right;
	}

	background: #ddd;
}

.footer-container {
	background: map-get($theme-colors, "gray");
}
