{% extends "@layouts/base.twig" %}

{% block content %}
  <div class="archive-pagination-top">
    {% include '@molecules/navigation/pagination.twig' with {'pagination_aria_label': 'Archive page navigation', 'items': posts} %}
  </div>
  {% include '@organisms/card-list.twig' with {'cards': archive_posts, 'card_variant': 'archive', 'card_heading_level': '2'} %}
  {% include '@molecules/navigation/pagination.twig' with {'pagination_aria_label': 'Archive page navigation', 'items': posts} %}
</div>
{% endblock %}