{% extends "@layouts/base.twig" %}

{% block content %}
{% if not news_home %}
  {% include '@molecules/navigation/pagination.twig' with {'pagination_aria_label': 'News page navigation', 'items': posts} %}
{% endif %}

<div class="post-content">
  {% if news_home %}
    {% include '@molecules/card/card.twig' with {'card': latest_news_post, 'card_variant': 'post', 'hero': true, 'card_orientation': 'vertical', 'card_heading_level': '2'} %}
  {% endif %}

  {% include '@organisms/card-list.twig' with {'cards': news_posts, 'card_variant': 'post', 'card_orientation': 'horizontal', 'card_heading_level': '3'} %}
</div>

{% include '@molecules/navigation/pagination.twig' with {'pagination_aria_label': 'News page navigation', 'items': posts} %}
{% endblock %}

{% block sidebar_right %}
<p>sidebar</p>
{% endblock %}