{% extends "@layouts/base.twig" %}

{% block content %}
{% if post_featured_img %}
  <div class="featured-image-hero">
    <img srcset="{{ post_featured_img.srcset }}"
      sizes="{{ post_featured_img.sizes }}"
      src="{{ post_featured_img.src }}" alt="{{ post_featured_img.alt }}">
  </div>
{% endif %}

<div class="post-content">
  {{ post.content | raw }}
</div>

{% if post.card_grid %}
  {% include '@organisms/card-grid.twig' with { 'card_grid': post.card_grid, 'card_heading_level': 2 } %}
{% endif %}
{% endblock %}