/**
 * Functions
 */

@function fixed-horizontal-gutter($gutter-size, $items-per-row) {
	$c: 100; // represents 100% size of container
	$g: $gutter-size;
	$i: $items-per-row;

	@return -(-((($g * ($i - 1)) - $c) / $i) - ($c / $i));
}
