/**
 * Override default Gutenberg styles
 */

.post-content {

	// Alignment
	.alignleft,
	.alignright {
		clear: both;
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	@media (min-width: map-get($grid-breakpoints, "md")) {

		.alignleft {
			float: left;
			margin-right: 1rem;
		}

		.alignright {
			float: right;
			margin-left: 1rem;
		}

		.alignleft,
		.alignright {
			margin-bottom: 1rem;
			max-width: 45%;
		}
	}

	// Headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		clear: both;
	}

	// Gallery
	.wp-block-gallery .blocks-gallery-item {
		flex-direction: row;
	}
}
