/**
 * Mixins
 */

// Flex grid item sizing for specified number of
// items per row; apply to grid items
@mixin flex-grid-item($items-per-row: $grid-items-per-row-default, $gutter-size: $grid-gutter-width) {
	box-sizing: border-box;
	width: calc((100% / #{$items-per-row}) - #{fixed-horizontal-gutter($gutter-size, $items-per-row)});
}

// Grid item sizing for specified number of
// items per row; apply to grid container
@mixin grid($items-per-row: $grid-items-per-row-default, $gutter-size: $grid-gutter-width) {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc((100% / #{$items-per-row}) - #{fixed-horizontal-gutter($gutter-size, $items-per-row)}), 1fr));
	grid-gap: $gutter-size;
}

// Link states
@mixin link-states($font-weight: $font-weight-base, $font-color: $link-color) {
	color: $font-color;
	font-weight: $font-weight;

	&:hover,
	&:focus,
	&:active {
		color: $font-color;
		font-weight: $font-weight;
	}
}
