/**
 * Override and add to Bootstrap variable defaults
 */


// Colors
// Primary brand colors
$brand-gray: #796e65;
$brand-red:  #cf4520;
$brand-blue: #0072ce;

// Override default grays
$gray-100: scale-color($brand-gray, $lightness: 90%);
$gray-200: scale-color($brand-gray, $lightness: 80%);
$gray-300: scale-color($brand-gray, $lightness: 70%);
$gray-400: scale-color($brand-gray, $lightness: 60%);
$gray-500: scale-color($brand-gray, $lightness: 50%);
$gray-600: scale-color($brand-gray, $lightness: 40%);
$gray-700: scale-color($brand-gray, $lightness: 30%);
$gray-800: scale-color($brand-gray, $lightness: 20%);
$gray-900: scale-color($brand-gray, $lightness: 10%);

// Additional grays
$gray-1100: scale-color($brand-gray, $lightness: -10%);
$gray-1200: scale-color($brand-gray, $lightness: -20%);
$gray-1300: scale-color($brand-gray, $lightness: -30%);
$gray-1400: scale-color($brand-gray, $lightness: -40%);
$gray-1500: scale-color($brand-gray, $lightness: -50%);
$grays: (
	(
		"1100": $gray-1100,
		"1200": $gray-1200,
		"1300": $gray-1300,
		"1400": $gray-1400,
		"1500": $gray-1500
	)
);

// Secondary brand colors which override Bootstrap defaults
$blue:    $brand-blue;
$purple:  #5d4777;
$pink:    #e8927c; // "dusty rose" in brand color pallette
$red:     $brand-red;
$orange:  #d57800;
$yellow:  #eaaa00;
$green:   #74aa50;
$teal:    #007681;
$cyan:    #4298b5; // "blue" in brand color pallette

// Additional secondary brand colors
$olive-green: #ac9f3c;
$lbnl-blue:   #00313c;
$burgundy:    #672e45;

$colors: (
	"olive-green":  $olive-green,
	"lbnl-blue":    $lbnl-blue,
	"burgundy":     $burgundy,
	"gray":         $brand-gray
);

$primary:   $brand-blue;
$secondary: $brand-gray;

$theme-colors: (
	"red": $brand-red,
	"blue": $brand-blue,
	"gray": $brand-gray,
	"required": $brand-red
);

// Links
$link-decoration:                         underline;

// Grid
$grid-gutter-width: 20px;

// Typography
// Available Styles and Weights
// Source Sans Pro: 300 normal
//                  400 normal / italic
//                  700 normal
$font-family-sans-serif: "Source Sans Pro", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;

// Buttons
$input-btn-border-width: 2px;

// Forms
$input-color: $brand-gray;
$input-placeholder-color: $brand-gray;

// Navbar
$navbar-dark-color: #fff;

// Pagination
$pagination-hover-color:            #fff;
$pagination-hover-bg:               $brand-blue;
$pagination-hover-border-color:     $brand-blue;

$pagination-active-color:           #fff;
$pagination-active-bg:              $brand-gray;
$pagination-active-border-color:    $brand-gray;
