/**
 * Utilities
 */

/**
 * Visually hide elements, but allow them to be read by screen readers.
 * @link https://simplyaccessible.com/article/7-solutions-svgs/
 * @link https://webaim.org/techniques/css/invisiblecontent/.
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	left: -99999px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: auto;
	white-space: nowrap;
	width: 1px;
}
