/**
 * Post Bootstrap Variables
 *
 * These variables load after Bootstrap's variables. Some are custom,
 * and some override Bootstrap. Some of the custom variables use Bootstrap
 * variables, and so must be loaded after Bootstrap's variables. The
 * Boostrap variable overrides are for variables which utilize other
 * Boostrap variables, and for which it's unnecessary to declare them
 * prior to loading Bootstrap's variables (typically because they occur
 * only once in the main Bootstrap variable file).
 */

/**
 * Custom variables
 */

// Path to images, for backgrounds, etc.
$image-path: "../images/";

// Grid
$content-max-width: map-get($grid-breakpoints, "xl");
$grid-items-per-row-default: 2;

// Spacers
// Uses Bootstrap's $spacer variable at it's default value of 1rem
$spacer-quarter: $spacer * 0.25;
$spacer-third: calc($spacer / 3);
$spacer-half: $spacer * 0.5;
$spacer-double: $spacer * 2;
$spacer-triple: $spacer * 3;
$spacer-quadruple: $spacer * 4;

/**
 * Bootstrap overrides
 */

// Typography

// Modular Scale 8:9, or 1.125, based on 16px default font size
// h1  ms(6)  32.432px  2.027em
// h2  ms(5)  28.832px  1.802em
// h3  ms(4)  25.632px  1.602em
// h4  ms(3)  22.784px  1.424em
// h5  ms(2)  20.256px  1.266em
// h6  ms(1)  18px      1.125em
// p   ms(0)  16px      1em
$h1-font-size: $font-size-base * 2.027;
$h2-font-size: $font-size-base * 1.802;
$h3-font-size: $font-size-base * 1.602;
$h4-font-size: $font-size-base * 1.424;
$h5-font-size: $font-size-base * 1.266;
$h6-font-size: $font-size-base * 1.125;

// Navbar
$navbar-dark-toggler-icon-open-bg: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4,4 L26,26 M4,26 L26,4'/%3e%3c/svg%3e"), "#", "%23");

// Body
$body-color: $gray-1500;
