/**
 * WordPress Generated Classes
 * @link http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

// Media alignment
.alignnone {
	height: auto;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

.aligncenter {
	display: block;
	height: auto;
	margin: $spacer auto;
}

.alignleft,
.alignright {
	height: auto;
	margin-bottom: $spacer;
}

@media (min-width: 30rem) {

	.alignleft {
		float: left;
		margin-right: $spacer;
	}

	.alignright {
		float: right;
		margin-left: $spacer;
	}
}

// Captions

// TODO: .wp-caption {}
// TODO: .wp-caption img {}
// TODO: .wp-caption-text {}

// Text meant only for screen readers
.screen-reader-text {
	background: #fff;
	border: 0;
	clip: rect(0, 0, 0, 0);
	color: #000;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Plugin Styles

// .osc-res-tab = Easy Responsive Tabs
// .zp-Zotpress = Zotpress
.osc-res-tab,
.zp-Zotpress {
	font-size: 1rem;
	font-weight: 400;
}

.osc-res-tab.osc-tabs-center > div {
	border-style: none;
}

.osc-res-tab a,
[id^="oscitas-restabs"] li a {
	color: map-get($theme-colors, "blue") !important;

	@include hover-focus {
		background: map-get($theme-colors, "blue") !important;
	}
}

.osc-res-tab .nav,
.osc-res-tab .nav-tabs,
.osc-res-tab .nav.osc-tabs-center-ul {
	left: 0;

	> li {
		margin: 0;
		right: 0;

		a {
			border-bottom: 3px transparent;
			border-radius: 0;
			border-style: none none solid;

			@include hover-focus {
				background: map-get($theme-colors, "blue");
				border-bottom: 3px solid map-get($theme-colors, "blue");
				color: $white !important;
			}
		}

		&.active > a {
			background: rgba(255, 255, 255, 0) !important;
			border-bottom: 3px map-get($theme-colors, "gray");
			border-style: none none solid;
			color: map-get($theme-colors, "gray") !important;

			@include hover-focus {
				background: rgba(255, 255, 255, 0) !important;
				border-style: none none solid;
				color: map-get($theme-colors, "gray") !important;
				cursor: default;
			}
		}
	}
}
