{% set menu_name = menu_name|default(menu) %}
<ul class="menu {% if menu_classes %} {{ menu_classes }}{% endif %}{% if menu_name.vertical %} nav-vertical{% endif %}">
  {% for item in menu_name.items %}
  <li class="nav-item{% if item.children and menu_name.dropdowns_enabled %} dropdown{% endif %}{% if item.class %} {{ item.class }}{% endif %}">
    {% if item.children %}
      {% if dropdowns_enabled %}
        <button class="dropdown-toggle" href="#" id="{{ item.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ item.title }}
        </button>
      {% else %}
        <a role="menuitem" class="nav-link" href="{{ item.link }}"{% if item.current %} aria-current="page"{% endif %}>{{ item.title }}</a>
      {% endif %}
    <ul class="nav-item-children{% if dropdowns_enabled %} dropdown-menu{% endif %}" {% if dropdowns_enabled %}aria-labelledby="{{ item.id }}"{% endif %}>
      {% for child in item.children %}
      <li class="nav-item-child{% if dropdowns_enabled %} dropdown-item-container{% endif %}{% if child.class %} {{ child.class }}{% endif %}">
        <a role="menuitem" class="nav-link-child{% if dropdowns_enabled %} dropdown-item{% endif %}" href="{{ child.link }}"{% if child.current %} aria-current="page"{% endif %}>{{ child.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <a role="menuitem" class="nav-link" href="{{ item.link }}"{% if item.current %} aria-current="page"{% endif %}>{{ item.title }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>