<div class="breadcrumbs">
  <span class="sr-only">Breadcrumbs navigation: </span>
{% for crumb in breadcrumbs %}
  {% if not loop.last%}
    <div class="breadcrumb-container">
      <a href="{{ crumb.url }}" class="breadcrumb"><span class="breadcrumb-label">{{ crumb.label }}</span></a>
    </div>
  {% else %}
    <div class="breadcrumb-container">
      <span class="sr-only">Current page: </span>
      <span class="breadcrumb">{{ crumb.label }}</span>
    </div>
  {% endif %}
{% endfor %}
</div>