.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumb-container {
	display: none;
	text-decoration: none;

	.breadcrumb::before {
		color: $black;
		content: "<";
		display: inline-block;
		margin: 0 $spacer-half 0 0;
		cursor: default;
	}

	&:nth-last-child(2) {
		display: block;
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		color: map-get($theme-colors, "gray");
		margin-right: 0;

		.breadcrumb::after {
			content: "";
			margin: 0;
		}
	}

	@media (min-width: map-get($grid-breakpoints, "sm")) {
		display: block;

		.breadcrumb {
			white-space: nowrap;
		}

		.breadcrumb::before {
			display: none;
		}

		.breadcrumb::after {
			color: $black;
			content: "> ";
			display: inline-block;
			margin: 0 $spacer-half;
			cursor: default;
		}
	}
}

a .breadcrumb-label {
	text-decoration: underline;
}
