.pagination {

	.page-link {
		text-decoration: none;

		&:focus {
			background-color: map-get($theme-colors, "blue");
			border-color: map-get($theme-colors, "blue");
			color: $white;
		}

		&:active {
			background-color: map-get($theme-colors, "red");
			border-color: map-get($theme-colors, "red");
			color: $white;
		}
	}

	.active .page-link:focus {
		background-color: map-get($theme-colors, "gray");
		border-color: map-get($theme-colors, "gray");
	}
}
