{% set paged_items = items %}
<nav aria-label="{{ pagination_aria_label | default('Pagination') }}">
  <ul class="pagination">
    {% if paged_items.pagination.prev %}
      <li class="page-item">
        <a href="{{ paged_items.pagination.prev.link }}" class="page-link">Previous</a>
      </li>
    {% endif %}
    {% for page in paged_items.pagination.pages %}
      <li class="page-item{% if 'current' in page.class %} active{% endif %}">
        {% if page.link %}
          <a href="{{ page.link }}" class="page-link {{ page.class }}">{{ page.title }}</a>
        {% else %}
          <span class="page-link {{ page.class }}">{{page.title}}</span>
        {% endif %}
      </li>
    {% endfor %}
    {% if paged_items.pagination.next %}
      <li class="page-item">
        <a href="{{ paged_items.pagination.next.link }}" class="page-link">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>