.navbar-primary-container {
	position: absolute;
	width: 100%;
	z-index: 10;

	background: map-get($theme-colors, "red");

	@media (min-width: map-get($grid-breakpoints, "md")) {
		margin-top: $spacer;
		position: relative;
		width: auto;

		.search-container {
			display: none;
		}
	}

	.search-container {
		padding: $spacer;
	}
}

.navbar-primary {
	flex-direction: row-reverse;
	min-height: 38px;
	padding: 0;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		padding: $spacer-half 0;
	}

	.nav-link,
	&.navbar-dark .nav-link,
	.dropdown-toggle {
		color: $black;
		padding: $spacer-half $spacer;

		@media (min-width: map-get($grid-breakpoints, "md")) {
			color: $white;
		}
	}

	.nav-item > .nav-link {

		@include hover-focus {
			background: map-get($theme-colors, "blue");
			color: $white;

			@media (min-width: map-get($grid-breakpoints, "md")) {
				background: $white;
				color: map-get($theme-colors, "blue");
			}
		}
	}

	.dropdown-toggle {
		width: 100%;
		background: transparent;
		text-align: left;
		border-style: none;

		@media (min-width: map-get($grid-breakpoints, "md")) {
			text-align: center;
		}
	}

	.nav-item > .dropdown-toggle {

		@include hover-focus {

			@media (min-width: map-get($grid-breakpoints, "md")) {
				background: $white;
				color: $black;
			}
		}
	}

	.navbar-toggler {
		border-style: none;
		padding: calc(1rem - 3px) calc(1.75rem - 3px);
		right: 0;
	}

	.navbar-toggler-icon {
		background-image: $navbar-dark-toggler-icon-open-bg;
	}

	.collapsed .navbar-toggler-icon {
		background-image: $navbar-dark-toggler-icon-bg;
	}

	.navbar-collapse {
		background: $white;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);

		@media (min-width: map-get($grid-breakpoints, "md")) {
			box-shadow: none;
		}
	}

	.navbar-nav {
		background: $white;
		border-top: 3px solid $white;
		flex-grow: 1;

		@media (min-width: map-get($grid-breakpoints, "md")) {
			background: map-get($theme-colors, "red");
			border-top-style: none;
			box-shadow: none;
			padding: 0 $spacer-double;
		}
	}

	.nav-link a,
	.dropdown-toggle a {
		color: $black;
	}

	.dropdown-menu {
		margin: 0;
		padding: 0;
		top: calc(100% + #{$spacer-half});
	}

	.nav-item {
		position: relative;

		&:last-child .dropdown-menu {

			@extend .dropdown-menu-md-right;
		}

		@media (min-width: map-get($grid-breakpoints, "md")) {
			flex-grow: 1;
			margin-right: 3px;
			text-align: center;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.nav-item > .nav-link:active {
		background: map-get($theme-colors, "red");
		color: $white;

		@media (min-width: map-get($grid-breakpoints, "md")) {
			background: $white;
			color: map-get($theme-colors, "red");
		}
	}

	.dropdown-toggle[aria-expanded="true"]::after {
		vertical-align: 0;
		border-top: 0.3em solid transparent;
		border-right: 0.3em solid transparent;
		border-bottom: 0.3em solid transparent;
		border-left: 0.3em solid;
	}

	.dropdown-item {
		border-bottom: $dropdown-border-width solid $dropdown-border-color;
		color: $black;
		white-space: normal;

		&:active {
			background: map-get($theme-colors, "red");
			color: $white;
		}

		@include hover-focus {
			background: map-get($theme-colors, "blue");
			color: $white;

			&:active {
				background: map-get($theme-colors, "red");
				color: $white;
			}
		}

		@media (min-width: map-get($grid-breakpoints, "md")) {
			padding: $spacer-half $spacer;
			white-space: nowrap;
		}
	}

	.dropdown-item-container:last-child .dropdown-item {
		border-style: none;
	}

	// WordPress menu hierarchy
	.current-menu-item,
	.current-menu-ancestor {
		position: relative;

		@media (min-width: map-get($grid-breakpoints, "md")) {

			&::after {
				height: 3px;
				display: block;
				max-width: 100%;
				width: 100%;
				background: $white;
				content: "";
				position: relative;
				margin-bottom: -3px;
				margin-top: -3px;
			}
		}
	}

	.current-menu-ancestor .current-menu-item::after {
		display: none;
	}
}
