<div class="navbar-primary-container">
  <nav class="navbar-primary navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% include '@molecules/navigation/_menu.twig'
          with {
            menu_name: menu_name|default(nav_primary),
            menu_classes: "navbar-nav",
            dropdowns_enabled: true
          }
      %}
      <div class="search-container">
        {% include '@molecules/search.twig' %}
      </div>
    </div>
  </nav>
</div>