.nav-secondary {

	.menu {
		width: 100%;
	}

	.nav-link,
	.nav-link-child {
		background: map-get($grays, "100");
		color: map-get($grays, "1500");
		display: block;
		margin-bottom: $spacer-quarter;

		@include hover-focus {
			background: map-get($theme-colors, "blue");
			color: $white;
		}

		&:active {
			background: map-get($theme-colors, "red");
			color: $white;
		}
	}

	.current-menu-item > .nav-link,
	.current-menu-item > .nav-link-child {
		background: map-get($theme-colors, "gray");
		color: $white;

		@include hover-focus {
			cursor: default;
		}
	}
}
