<form action="#">
  <fieldset>
    <legend>Checkbox <abbr title="Required" class="required">*</abbr></legend>
    <div class="form-check">
      <input class="form-check-input" id="checkbox1" name="somethingtochoose" type="checkbox" value="choice-a" checked="checked">
      <label class="form-check-label" for="checkbox1"> Choice A</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" id="checkbox2" name="somethingtochoose" type="checkbox" value="choice-b">
      <label class="form-check-label" for="checkbox2">Choice B</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" id="checkbox3" name="somethingtochoose" type="checkbox" value="choice-c">
      <label class="form-check-label" for="checkbox3">Choice C</label>
    </div>
  </fieldset>
</form>