<fieldset>
    <div class="form-group">
      <label for="ic">Color input</label>
      <input type="color" id="ic" value="#000000">
    </div>
    <div class="form-group">
      <label for="in">Number input</label>
      <input class="form-control" type="number" id="in" min="0" max="10" value="5">
    </div>
    <div class="form-group">
      <label for="ir">Range input</label>
      <input class="form-control-range" type="range" id="ir" value="10">
    </div>
    <div class="form-group">
      <label for="idd">Date input</label>
      <input class="form-control" type="date" id="idd" value="1970-01-01">
    </div>
    <div class="form-group">
      <label for="idm">Month input</label>
      <input class="form-control" type="month" id="idm" value="1970-01">
    </div>
    <div class="form-group">
      <label for="idw">Week input</label>
      <input class="form-control" type="week" id="idw" value="1970-W01">
    </div>
    <div class="form-group">
      <label for="idt">Datetime input</label>
      <input class="form-control" type="datetime" id="idt" value="1970-01-01T00:00:00Z">
    </div>
    <div class="form-group">
      <label for="idtl">Datetime-local input</label>
      <input class="form-control" type="datetime-local" id="idtl" value="1970-01-01T00:00">
    </div>
</fieldset>