<form action="#">
  <fieldset>
    <legend>Radio</legend>
    <div class="form-check">
      <input class="form-check-input" id="option1" name="somethingtochoose" type="radio" value="option1" checked="checked">
      <label class="form-check-label" for="option1">Option 1</label>
    </div>
    <div class="form-check">        
      <input class="form-check-input" id="option2" name="somethingtochoose" type="radio" value="option2">
      <label class="form-check-label" for="option2">Option 2</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" id="option3" name="somethingtochoose" type="radio" value="option3">
      <label class="form-check-label" for="option3">Option 3</label>
    </div>
  </fieldset>
</form>