<fieldset>
    <div class="field-container">
        <label for="select">Select</label>
        <select class="form-control" id="select">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
</fieldset>