{% import "@macros/forms.twig" as forms %}
<fieldset>
  {{ forms.input('Text Input', 'text', 'textInputID', 'form-control') }}
  {{ forms.input('Password', 'password', 'passwordInputID', 'form-control') }}
  {{ forms.input('Web Address', 'url', 'urlInputID', 'form-control') }}
  {{ forms.input('Email', 'email', 'emailInputID', 'form-control') }}
  {{ forms.input('Search', 'search', 'searchInputID', 'form-control') }}
  {{ forms.input('Number', 'number', 'numberInputID', 'form-control') }}
  {{ forms.textarea('Textarea', 'Enter your message here', 'textareaInputID', 'form-control') }}
  {{ forms.input('Invalid Input', 'text', 'invalidInputID', 'form-control is-invalid') }}
  {{ forms.input('Valid Input', 'text', 'validInputID', 'form-control is-valid') }}
</fieldset>