<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="{{site.charset}}" />
<meta name="description" content="{{ site.description }}">

{# page title #}
<title>{% if wp_title %}{{ wp_title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

{# WordPress pingback and header function output #}
<link rel="pingback" href="{{ site.pingback_url }}" />
{{ wp_head }}