.card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@supports (display: grid) {

		@include grid($gutter-size: $spacer-double);
	}

	.card {

		@include flex-grid-item();

		@supports (display: grid) {
			width: auto;
		}
		border: 1px solid map-get($grays, "100");
	}

	.card-image {
		border-left-style: none;
		border-right-style: none;
		border-top-style: none;
	}
}

.main-content .card-grid {

	@supports (display: grid) {

		@include grid($items-per-row: 1);

		@media (min-width: map-get($grid-breakpoints, "sm")) {

			@include grid($items-per-row: 2);
		}
	}
}
