.card-list-archive {
	max-width: map-get($grid-breakpoints, "md");

	.card {
		border-bottom: 1px solid map-get($grays, "200");
		margin-top: $spacer;
		padding: $spacer 0;

		&:last-child {
			border-bottom-style: none;
		}
	}

	.card-body {
		padding: 0;
	}
}
