<div class="card-list{% if card_variant != '' %} card-list-{{ card_variant }}{% endif %}">
  {% for card in cards %}
    {% include '@molecules/card/card.twig' with {'card_variant': card_variant, 'card_orientation': card_orientation, 'card_heading_level': card_heading_level} %}
  {% endfor %}
</div>