.footer {
	background: map-get($theme-colors, "gray");
	color: $white;
	margin: 0 auto;
	max-width: map-get($container-max-widths, "xl");
	padding: $spacer-double;

	a {
		color: $white;

		@include hover-focus-active {
			background: $white;
			color: map-get($theme-colors, "blue");
		}
	}
}

.footer-blocks {

	@media (min-width: map-get($grid-breakpoints, "md")) {
		display: grid;
		gap: $spacer-double;
		grid-template-columns: 1fr 1.25fr 1.25fr;
	}

	@media (min-width: map-get($grid-breakpoints, "lg")) {
		grid-template-columns: 2fr 3fr 3fr;
	}
}

.footer-block {
	padding-bottom: $spacer-double;
}

.footer-block-heading {
	font-size: $h5-font-size;
}

.footer-bottom {
	margin-top: $spacer-double;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.footer-social {
	display: flex;
	justify-content: center;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		max-width: 40%;
	}

	.social-media-icon-links-group {
		display: flex;
		flex-wrap: wrap;
	}

	.social-media-icon-background {
		fill: $white;
	}

	.social-media-icon-logo {
		fill: map-get($theme-colors, "gray");
	}

	.social-media-icon-link {
		margin-bottom: $spacer-half;

		@include hover-focus-active {
			background: none;

			.social-media-icon-background {
				fill: $white;
			}

			.social-media-icon-logo {
				fill: map-get($theme-colors, "blue");
			}
		}
	}
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: $spacer-double;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		justify-content: flex-end;
		margin-top: 0;
		max-width: 60%;
	}
}

.footer-link {
	margin-bottom: $spacer-half;
	margin-left: $spacer;
	position: relative;
	right: 0.5rem;

	&:first-child {
		margin-left: 0;
	}
}
