<footer id="footer" class="footer">
  <div class="footer-blocks">
    {% for block in options.footer_blocks %}
    <div class="footer-block">
      <h2 class="footer-block-heading">{{ block.heading }}</h2>
      <div class="footer-block-body">
        {{ block.body | raw }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="footer-bottom">
    <div class="footer-social">
      {% include '@organisms/social-media-icon-links-group.twig' %}
    </div>
    <div class="footer-links">
      {% for link in options.footer_links %}<a href="{{ link.url }}" class="footer-link">{{ link.label }}</a>{% endfor %}
    </div>
  </div>

  {{ wp_footer }}
</footer>