<header id="header" class="header" >
  <div class="pre-nav">
    <div class="header-logo">
      <a href="{{ site.link }}" class="header-logo-link">{% include '@atoms/03-images/logo.twig' %}</a>
    </div>
    <div class="search-container">
      {% include '@molecules/search.twig' %}
    </div>
  </div>
  {% if nav_primary %}
    {% include '@molecules/navigation/primary-navigation.twig' %}
  {% endif %}
</header>