.header {
	background: map-get($theme-colors, "red");
	margin: 0 auto;
	max-width: map-get($container-max-widths, "xl");

	@media (min-width: map-get($grid-breakpoints, "md")) {
		padding-top: $spacer-double;
	}
}

.pre-nav {
	display: flex;
	justify-content: space-between;
}

.header-logo {
	margin: ($spacer * -1.5) $spacer-double;
	position: relative;
	top: calc(2rem + 7.5px);
	width: 100px;
	z-index: 15;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		margin: 0 $spacer-double;
		top: 0;
		width: 250px;
	}
}

.header-logo-link {
	display: block;

	.logo {
		fill: $white;
		width: 100%;
	}
}

.pre-nav .search-container {
	display: none;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		display: block;
		margin: 0 $spacer-double;
		width: 350px;
	}
}
