<h2>Primary Brand Colors</h2>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: {{ color_primary_red }};"></span>
    <span class="sg-label">Red: {{ color_primary_red }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_primary_blue }};"></span>
    <span class="sg-label">Blue: {{ color_primary_blue }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_primary_gray }};"></span>
    <span class="sg-label">Gray: {{ color_primary_gray }}</span>
  </li>
</ul>
<br>
<br>
<h2>Secondary Brand Colors</h2>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_green }};"></span>
    <span class="sg-label">Green: {{ color_secondary_green }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_orange }};"></span>
    <span class="sg-label">Orange: {{ color_secondary_orange }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_yellow }};"></span>
    <span class="sg-label">Yellow: {{ color_secondary_yellow }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_purple }};"></span>
    <span class="sg-label">Purple: {{ color_secondary_purple }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_olive_green }};"></span>
    <span class="sg-label">Olive Green: {{ color_secondary_olive_green }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_lbnl_blue }};"></span>
    <span class="sg-label">Dark Blue: {{ color_secondary_lbnl_blue }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_blue }};"></span>
    <span class="sg-label">Light Blue: {{ color_secondary_blue }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_teal }};"></span>
    <span class="sg-label">Teal: {{ color_secondary_teal }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_burgundy }};"></span>
    <span class="sg-label">Burgundy: {{ color_secondary_burgundy }}</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: {{ color_secondary_dusty_rose }};"></span>
    <span class="sg-label">Dusty Rose: {{ color_secondary_dusty_rose }}</span>
  </li>
</ul>
<br>
<br>
<h2>Additional Colors</h2>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: {{ color_text_default }};"></span>
    <span class="sg-label">Text Default: {{ color_text_default }}</span>
  </li>
</ul>