<p style="font-family: '{{ font_primary }}'; font-size: 1.5rem; font-weight: 300;">{{ font_primary }} Light</p>
<p style="font-family: '{{ font_primary }}'; font-size: 1.5rem;">{{ font_primary }}</p>
<p style="font-family: '{{ font_primary }}'; font-size: 1.5rem;"><em>{{ font_primary }} Italic</em></p>
<p style="font-family: '{{ font_primary }}'; font-size: 1.5rem;"><strong>{{ font_primary }} Bold</strong></p>