{% macro input(name, type, id, classes, label, placeholder, value, size, required) %}
{% set show_label = label|default(true) %}
<div class="form-group">
  {% if show_label %}
  <label for="{{ id }}">{{ label|default(name|title) }}</label>
  {% if required %}<abbr title="Required">*</abbr>{% endif %}
  {% endif %}
<input type="{{ type|default('text') }}"{% if classes %} class="{{ classes }}"{% endif %} id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder|default(name|title) }}"{% if value %} value="{{ value|e }}"{% endif %} size="{{ size|default(20) }}"{% if required %} required{% endif %} />
  </div>{% endmacro %}
{% macro textarea(label, placeholder, id, classes, rows) %}
{% set show_label = label|default(true) %}
<div class="form-group">
  {% if show_label %}
  <label>{{ label|default(name|title) }}</label>
  {% if required %}<abbr title="Required">*</abbr>{% endif %}
  {% endif %}
<textarea{% if classes %} class="{{ classes }}"{% endif %} id="{{ id }}" rows="{{ rows|default(8) }}" placeholder="{{ placeholder|default(name|title) }}"{% if required %} required{% endif %}></textarea>
</div>{% endmacro %}