<p>
  <button type="button" class="btn btn-primary">Button element (not a link)</button>
</p>
<p>
  <button type="button" class="btn btn-primary" disabled>Disabled button element</button>
</p>
<p>
  <a href="#" class="btn btn-primary">Link styled as a button</a>
<p>
