a.btn {
	text-decoration: none;
}

.btn-primary {

	@include hover-focus {
		background: $white;
		color: map-get($theme-colors, "primary");
		border-color: map-get($theme-colors, "primary");
	}
}

.btn {

	&.disabled,
	&:disabled {
		background: map-get($theme-colors, "gray");
		border-color: map-get($theme-colors, "gray");
		color: $white;
	}
}
