<div class="sg-favicon">favicon:
  <br/>
  <img style="width: 16px;" src="../../images/favicons/favicon-16x16.png" />
</div>

<div class="sg-favicon apple-touch-icon">Apple touch icon:
  <br/>
  <img style="width: 72px;" src="../../images/favicons/apple-touch-icon-precomposed.png" />
</div>

<div class="sg-favicon">Android Chrome:
  <br/>
  <img style="width: 128px;" src="../../images/favicons/android-chrome-512x512.png" />
</div>

<div class="sg-favicon">Microsoft Edge tile for Windows Start screen:
  <br/>
  <img style="background: {{ favicon_background_color }}; width: 150px;" src="../../images/favicons/mstile-150x150.png" />
</div>
