<svg class="social-media-icon" aria-labelledby="socialMediaIcon{{ icon.service | capitalize }}Label">
  <use class="social-media-icon-background" xlink:href="{{ imageuri }}social-media-icons.svg#social-media-icon-background"></use>
  <use class="social-media-icon-logo" xlink:href="{{ imageuri }}social-media-icons.svg#social-media-icon-{{ icon.service }}"></use>
</svg>
<span id="socialMediaIcon{{ icon.service | capitalize }}Label" class="sr-only">{{ icon.label }}</span>