/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
img {
	max-width: 100%;
}

.iframe-pl-html {
	max-width: 100vw;
}

.iframe-pl-body {
	background: #fff;
	max-width: 1140px;
	padding: 10px;
}

.iframe-pl-body.blog,
.iframe-pl-body.page {
	max-width: unset;
}

.iframe-pl-body--no-padding {
	padding: 0;
}

#sg-patterns {
	box-sizing: border-box !important;
	max-width: 100%;
	padding: 0 0.5em;
}

.sg-subtype a {
	text-decoration: none;
}

/* Hide descriptions for excluded patterns,
which for some reason appear on the "All" page
even when excluded */
.sg-pattern-body {
	display: none;
}

.demo-animate {
	background: #ddd;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
}

.iframe-pl-html .sg-colors {
	display: flex;
	flex-wrap: wrap;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
}

.sg-colors li {
	border: 1px solid #ddd;
	border-radius: 8px;
	flex: 1 1 100%;
	margin: 0 0.5em 0.5em 0;
	max-width: calc((100% / 3) - 0.5em);
	min-width: 2em;
	padding: 0.3em;
}

@media (min-width: 768px) {

	.sg-colors li {
		max-width: calc((100% / 4) - 0.5em);
	}
}

.sg-swatch {
	border: 1px solid #ddd;
	border-radius: 5px;
	display: block;
	height: 4em;
	margin-bottom: 0.3em;
}

.sg-label {
	font-size: 90%;
	line-height: 1;
}

.sg-pattern-head .sg-pattern-title,
.sg-pattern-extra,
.sg-label,
.patternLink {
	font-family: sans-serif !important;
}

.patternLink {
	font-weight: 700;
	text-transform: uppercase;
}

[id^="viewall-"]:nth-child(n+2) {
	border-top: 4px solid #ddd;
	margin-top: 75px;
	padding-top: 75px;
}

.sg-favicon {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	padding-bottom: 20px;
}

.sg-favicon:last-of-type {
	border-bottom-style: none;
}

.sg-favicon img {
	border: 1px solid #eee;
}

.sg-favicon.apple-touch-icon img {
	border-radius: 10px;
}

.sg-safari-pinned-tab {
	align-items: center;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 52px;
}

.sg-safari-pinned-tab-focus {
	background: #d2d3d3;
}

.sg-safari-pinned-tab-no-focus {
	background: #ddd;
}

.sg-safari-pinned-tab-no-focus path {
	fill: #a3a3a3;
}

.sg-safari-pinned-tab svg {
	height: 16px;
	width: 16px;
}

.sg-apple-touch-bar {
	border-radius: 5px;
}

.sg-apple-touch-bar path {
	fill: #fff;
}
