<!DOCTYPE html>
<html class="iframe-pl-html">
  <head>
    <title>Pattern Lab iFrame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/theme.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../scaffolding/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=swap" rel="stylesheet">

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="iframe-pl-body {{ body_class }}
                {{ post.title ?? page_title ? 'has-page-title' }} 
                {{ breadcrumbs ? 'has-breadcrumbs' }} 
                {{ nav_secondary ? 'has-sidebar-left' }} 
                {{ sidebar_right ? 'has-sidebar-right' }}">
