  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
    <script id="theme-js-detection">
      function UrlExists(url) {
        var http = new XMLHttpRequest();
        http.open('HEAD', url, false);
        http.send();
        return http.status!=404;
      }

      var themeJsFile = window.location.origin + '/js/theme.js';

      UrlExists(themeJsFile) ? LoadThemeJsFile(themeJsFile) : console.log('theme.js not loaded');
      
      function LoadThemeJsFile(file) {
        // Get footer script element by ID
        var ref = window.document.getElementById ( 'theme-js-detection' );

        // Create a new script element
        var script = window.document.createElement( 'script' );

        // Set the script element `src`
        script.async = true;
        script.src = file;

        // Inject the script into the DOM
        ref.parentNode.insertBefore( script, ref );
        console.log('theme.js loaded')
      }
    </script>
  </body>
</html>
